[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Correlplot"]
	path = Correlplot
	url = https://github.com/cran/Correlplot
[submodule "HardyWeinberg"]
	path = HardyWeinberg
	url = https://github.com/cran/HardyWeinberg
[submodule "Jacquard"]
	path = Jacquard
	url = https://github.com/cran/Jacquard
[submodule "MLpreemption"]
	path = MLpreemption
	url = https://github.com/cran/MLpreemption
[submodule "ToolsForCoDa"]
	path = ToolsForCoDa
	url = https://github.com/cran/ToolsForCoDa
[submodule "calibrate"]
	path = calibrate
	url = https://github.com/cran/calibrate
